# Config
install
text
skipx
reboot
url --url http://mirror.centos.org/centos-7/7.1.1503/os/x86_64/

# Auth
rootpw vagrant
firewall --disable
authconfig --enableshadow --passalgo=sha512
auth --useshadow  --enablemd5
selinux --disabled

# Regional settings
lang en_US.UTF-8
keyboard us
timezone UTC

# Network
network --bootproto=dhcp

# Partition
bootloader --location=mbr --driveorder=sda
zerombr
clearpart --all --initlabel
autopart

# First booting
firstboot --disabled
# logging --level=info
reboot


%packages
@Core
wget
vim
wget
curl
rsync
git
gcc
bzip2
openssh-clients
openssh-server
sudo


# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post --log=/root/post-ks-log
rm -rf /etc/udev/rules.d/70-persistent-net.rules
yum -y update

# update root certs
wget -O/etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem

# vagrant
groupadd vagrant -g 1001
useradd vagrant -g vagrant -G wheel -u 1001
echo "vagrant" | passwd --stdin vagrant

# sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

#
# /usr/sbin/userdel shutdown
# /usr/sbin/userdel halt
# /usr/sbin/userdel games
# /usr/sbin/userdel operator
# /usr/sbin/userdel ftp
# /usr/sbin/userdel gopher
#

yum clean all

%end

